.appBar {
    margin-bottom: 20px;
}

.user-profile-card {
    max-width: 400px;
    margin: auto;
    padding: 60px 20px 20px;
    position: relative;
}

.avatar-container {
    display: flex;
    justify-content: center;
    position: relative;
    top: -50px;
    left: 0;
    right: 0;
}

.avatar {
    width: 200px;
    height: 200px;
}

.username {
    text-align: center;
    margin-top: 60px;
}

.user-profile-text {
    margin-top: 10px;
    text-align: center;
}